p.title{
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  margin: auto 15%;
  padding-top: 20px;
}

body {
  background-color: #32383b;
}

.rule {
  text-align: center;
  margin-top: 50px;
}

.rule p {
  padding: 15px;
  margin: 30px 15%;
  background-color: #fff;
  border-radius: 5px;
}

.atten {
  font-size: 20px;
  text-align: center;
  color: #fff;
}
